* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


  
.homeTotalOverall{
 
    
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    

    .homeOverall {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          
            margin-bottom: 80px;
            
            height: calc(100vh - 50px);
            background-image: url(../images/technology-background1.jpg);
            background-color: #0b6aa4;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            
           

        .legend {
                margin-top: 70px;
                margin-bottom: 40px;
        
                p {
                    font-size: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 800px;
                    text-align: center;
                    color: rgba(255, 254, 254, 0.9);
                    @media(max-width:768px){
                        font-size: 40px;
                    }

                    @media(max-width:400px){
                        font-size: 30px;
                        padding: 0 5px;
                    }
                    
        
                }
            }
        
            .legendButton {
                display: flex;

                @media (max-width:350px) {
                    flex-direction: column;
                    gap: 10px;
                }
                

        
                .legendFirstButton {
                   
                   

                    button {
                        width: 150px;
                        padding: 10px 0;
                        background-color: orange;
                        
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                       
                        color: white;
                        border: none;
                        font-size: 18px;
                        cursor: pointer;
                        font-weight: bold;
                        transition: all ease 0.5s;

                        @media (max-width:350px) {
                                margin: 0;
                            }


                        &:active{
                            transform: translateY(5px);
                        }
        
                    }

                    
                }

               
        
                .legendSecondButton {
                    

                  
                   
                    button {
                        width: 150px;
                        padding: 10px 0;
                        
                        background-color: white;
                        border: none;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 18px;
                        cursor: pointer;
                        font-weight: bold;
                        color: #363535;
                        transition: all ease 0.5s;

                        &:active {
                                transform: translateY(5px);
                            }
                    }
                } }
    
        }

          .businessDivision {
              display: block;
              margin-bottom: 80px;
    
              .businessDivisionTitle {
                display: flex;
                justify-content: center;
                padding: 0 20px;
                margin-bottom: 20px;
                  h2 {
                      display: flex;
                      color: #0a5786;
                      max-width: 800px;
                      flex-wrap: wrap;
                      font-size: 30px;
                      text-align: center;  
                      margin-bottom: 20px;
                       
                  }
              }

              .businessDivisionMain{
               
                padding: 0 20px;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(3, minmax(300px, 450px));
                grid-gap: 10px;
               
               
                @media (max-width:1024px) {
                
                        grid-template-columns: repeat(2, minmax(300px, 450px));
                        gap: 20px;
                        
                    }

                @media (max-width:768px) {
                
                        grid-template-columns: 1fr;
                        margin: 0 auto;
                        gap: 40px;
                        max-width: 500px;
                        margin-top: 10px;
                       
                    }  
                    

               
                .businessDivisionSections{
                    position: relative;
                    display: flex;

                    flex-direction: column;
                    
                    padding: 40px 20px ;
                    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                    height: 380px;
                    justify-content: space-between;
                    max-height: 1000px;
                    
                    @media  (max-width:768px) {
                    height: max-content;
                    
                    }
                                 h4 {
                                      margin: 10px  0 ;
                                      font-size: 25px;
                                      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                  }

                                  p{
                                    
                                    line-height: 25px;
                                    font-size: 18px;
                                    margin-bottom: 20px;
                                    color: #363535;
                                    font-family: 'Arial Narrow Bold', sans-serif;
                                      }

                                      a{
                                        text-decoration: none;
                                        font-weight: 500;
                                        color: #0a5786;

                                        
                                      }
 
                }
            
                        
             }
            }

            .trustedCustomer{
                display: flex;
                justify-content: center;
                max-width: 1200px;
                margin: 20px auto;
                align-items: center;
                
                #emptyBlock{
                    flex: 1;
                    background-color: gray;
                    max-width: 400px;
                    height: 1px;
                    margin-bottom: 20px;
                    margin-bottom: 50px;
                }
               
                .trustedCustomer--block2{
                    display: flex;
                    justify-content: center;
                     
                    margin: 0 5px;

                    p.customerContainer--content2__item{
                        text-align: center;
                    }
                    
                    

                }

                


               
            }

            hr.customerImageOveralLine{
                margin-bottom: 20px;
            }

            .customerImageOveral{
                width: 100%;
                display: none;
                justify-content: center;
                margin-top: 20px;
                &--content{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    width: 100%;
                    max-width: 1500px;
                  
                    padding: 10px 20px;


                    img{
                        object-fit: cover;
                        width: 150px;
                        height: 150px;
                        padding: 0 10px;
                    }}
            }

            .customerImageOveralLine{
                color: gray;
                width: 200px;
                display: grid;
                margin: auto;
                height: 5px;
                border-radius: 50%;
                // margin-bottom: 50px;
            }
            .businessNutrientOveral{
                display: flex;
                justify-content: center;
                width: 100%;
                display: none;

            .businessNutrient{

                width: 100%;  
                text-align: center;
                margin-top: 40px;
                background-color: #DDDBDC;
                padding: 50px 0;
                color: whitesmoke;

                p{
                    font-size: 50px;
                    margin: 5px auto;
                    width: 800px;
                    max-width: 1000px;
                    text-align: center;
                    font-family: Times, serif;
                    margin-bottom: 20px;
                    color: white;
                
                }

                button{
                    background-color: transparent;
                    border: none;
                    margin-top: 10px;
                
                    a{
                        padding: 10px 30px;
                            border-radius: 10px;
                           
                            font-size: 20px;
                            background-color: orange;
                            cursor: pointer;
                            color: white;
                            text-decoration: none;
                           
                    }
                 
                    
                }

                
            }}


        .testimonialComponent{
            display: flex;
          
            justify-content: center;
            width: 100%;
            
            
            
            
      
            

          &--wrapper{
                display: grid;
                width: 100%;
                max-width: 1500px;
                grid-gap: 10px;
                grid-template-columns: repeat(3, minmax(350px, 450px));
                padding: 0 10px;
                
                justify-content: center;
                margin: 0 auto;
                
                

         @media (max-width:1024px) {
        
                grid-template-columns: repeat(2, minmax(350px, 450px));
                padding: 0 20px;
                gap: 20px;
        
            }
        
            @media (max-width:768px) {
                grid-template-columns: 1fr;
                margin: 0 auto;
                max-width: 500px;
                
                gap: 40px;

                
        
            }
                

                &__item{
                    background-color: #0a5786;
                    border-radius: 5px;
       
                }}
        }

        .numberDisplay{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            grid-gap: 10px;
            width: 100%;
            margin: 70px auto ;
         
            max-width: 1200px;
            
            padding: 0 20px;

        @media (max-width:768px) {
        
                display: flex;
                flex-direction: column;
                gap: 50px;
                width: 100%;
                max-width: 600px;
        
            }

            .numberDisplay--map{
             
            img{
                object-fit: contain;
                width: 500px;
                height: auto;

                @media (max-width:1024px) {
                
                        width: 400px;
                
                    }

                @media (max-width:768px) {
        
                width: 100%;
        
                }

            

                @media (max-width:400px) {
            
                    width: 300px;
            
                }

            }

        }

        .numberDisplay--info{
            margin-top: -50px;
            margin: 0 auto;
            flex: 1;


            h2{
                text-align: center;
            }
         

           p {
                 margin-top: 15px;   
                 font-size: 18px; 
                 line-height: 32px;   
                 text-align: center;
                   
                }

           
        }
        
        .numberDisplay--counter{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            width: 100%;

            .numberDisplay--counter__clients{
               margin-right: 10px;
                text-align: center;
                
            }

            .numberDisplay--counter__projects{
                margin-left: 10px;
                text-align: center;
            }
            
        }
    
    }

    .businessNutrient{
        background-color: #aaa6a8;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 100px 0;
        text-align: center;

        &--content{
            
            max-width: 900px;
            color: white;
            

            h1{
                font-size: 40px;
                margin: 24px 0;
                padding: 0 5px;
            }

            a{

                background-color: #0a5786;
                padding: 10px 30px;
                border-radius: 5px;

                button{
                color: white;
                font-size: 18px;
                background-color: transparent;
                border: none;
                cursor: pointer;

            }
            }

           
        }

    }
}

                

        






    
        


    