
.services{
    display: grid;
    width: 100%;
    max-width: 1500px;
    justify-content: center;
    margin: 0 auto;

    @media (max-width:1200px){
       padding-top: 20px;
    }
    
     @media (max-width:1024px){
        padding-top: 40px;
    }

     @media (max-width:992px){
        padding-top: 60px;
    }


    

    .service--background{
        width: 100%;   
        margin: 0 auto;
        position: relative;

        >img{
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center center;
        }

        h1{
            position: absolute;
            font-size: 50px;
            top: 50%;
            left: 50px;
            color: white;
            letter-spacing: 5px;

            @media (max-width:1200px){
             font-size: 40px;
            }

            @media (max-width:992px){
             font-size: 30px;
            }
        }
    }

    .servicesHeading{
        h1{
            
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;

            span{
                color: orange;
            }
        }
    }

    .services--division{ 
        margin-bottom: 40px ;
        display: grid;
        justify-content: center;
        row-gap: 60px;
        column-gap: 10px;
        padding: 0 20px 20px 20px;
        
       
        
        grid-template-columns: repeat( 3, minmax(350px, 500px));
       

        @media(max-width:1200px){
        grid-template-columns: repeat(2, minmax(400px, 600px));
        }

        @media(max-width:992px){
        grid-template-columns: repeat(2, minmax(350px, 500px));
        }

        @media(max-width:768px){
        grid-template-columns: repeat(1, minmax(300px, 500px));
        }

    }

    .services--Contact{
       padding: 20px 15px;
       padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #0a5786;
        margin-bottom: 70px;
        margin-top: 30px;
        

        &__info{
            display: flex;
            

            .services--Contact__icon{
                box-sizing: content-box;
                padding: 0 20px;
                color: orange;
                
                
            }

            p {
                color: white;
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 30px;

                
                span{
                    font-size: 30px;
                    padding-bottom: 20px;
                    color: orange;
                }
                    
                }
        }

        .services--button{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: 20px;

            @media(max-width:768px){
                justify-content: center;
            }
            
            
            a{

            border: 1px solid white;
            color: white;
            border-radius: 5px;
            text-align: center;
            width: 150px;
            padding: 10px 15px;
            // margin-left: 20px;
            text-decoration: none;
            font-size: 20px;
            letter-spacing: 1.5px;
            
        }

        }
 }
   
}